.ProseMirror h1::before {
    content: attr(data-placeholder);
    float: left;
    color: #ced4da;
    pointer-events: none;
    height: 0;
  }

/* .ProseMirror div .is-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  } */

/* .ProseMirror p{
    background-color: ;
    
  } */

  .ProseMirror p:focus-visible{
    outline: none;
    border: none;
    
  }

  .ProseMirror div:focus-visible{
    outline: none;
    border: none;
  }

  .ProseMirror div{
     width: 550px;
   
   
  }
/* .date_time_container{
    display: flex;
    color: #37352f;
    justify-content: space-evenly;
    font-size: 14px;
    opacity: 65%;
} */

.itrcontainer{
    /* display: flex;
    align-items: center; */
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.menubarcontainer{
    width: 25%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: beige;
    
}

.menubarcontainer button{
    margin: 5px;
}


.code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  /* .ProseMirror div > *:hover{
    background-color: #37352f;
    opacity: 8%;
  } */


  .menubarButtons button {
    border-radius: 10%; 
    margin: 5px;
  
  }
  .menubarButtons button:hover{
    border: none;
    background-color: #616161;
    opacity: 50%;
  }

  .ProseMirror blockquote {
    padding-left: 1rem;
    border-left-color: #0D0D0D;
    border-left-width: 2px;
    border-left-style: solid;

  }

  .ProseMirror pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    }

    .ProseMirror pre code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
      }