.name{
  text-align: center;
  
}

#title{
  color: grey;
  font-size: 64px;
  position: absolute;
  top: 100px;
  left: 50px;
}
.subhead{
  color: grey;
}
.arrange{
  display: flex;
}

.add{
  border-radius: 50px;
  
}

/* .texted{
   background-color: red;
   width: 50%;
   height: 400px;
} */
.mycalendar{
  margin: 20px;
}

.containermain{
  display: flex;
}

.DraftEditor-root{
    width: 100% ;
    /* max-width: 600px; */
    height: 100%;
    overflow: hidden;
    background-color: beige;
    /* max-height: 400px; */
    min-height:400px;
    overflow-y: auto;
    padding: 30px;
    
}

/* .DraftEditor-root {
  height: 500px;
  overflow-y: scroll;
  scrollbar-width: none; 
} */

.DraftEditor-root::-webkit-scrollbar {
  display: none; 
}

/* .DraftEditor-root:hover {
  scrollbar-width: auto; 
} */

/* .DraftEditor-root:hover::-webkit-scrollbar {
  display: block; 
} */

/* .DraftEditor-root{
  .public
} */

.editorbuttons{
  text-align: center;
}
.editorbuttons button{
  margin-left: 10px;
}

.drawer{
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background-color: beige;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.container{
  margin: 20px;
}

.featuresdiv{
  margin: 4px;
  display: flex;
  align-items: center;


}

.featuresdiv:hover{
  background-color: #ffaf8a;
  border-radius: 5px;
}

.featureimg{
  margin: 5px;
}

.featurelink{
  font-size: 14px;
}

#addbutton{
  display: none;
}

.featuresdiv:hover #addbutton {
 display: block;
 margin-left: 2.5rem;
 height: 10px;
 width: 10px;
 /* float: right; */
}

.content{
  display: flex;
}

.editorblock{
  background-color: black;
  color: white;
}