.name{
  text-align: center;
  
}

#title{
  color:  #141414;
  font-size: 64px;
  

}

/* .arrange{
  display: flex;
} */

.add{
  border-radius: 50px;
  
}



.containermain{
  display: flex;
}





.editorbuttons{
  text-align: center;
}
.editorbuttons button{
  margin-left: 10px;
}

.drawer{
  position: fixed;
  top: 0;
  left: 0;
  
  /* width: 15%; */
  height: 100%;
  background-color: beige;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}


.featuresdiv{
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.featuresdiv:hover{
  background-color: #ffaf8a;
  border-radius: 5px;
}

.featureimg{
  margin: 5px;
}

.featurelink{
  font-size: 14px;
}

#addbutton{
  display: none;
  padding-right: 10px;
}

.featuresdiv:hover #addbutton {
 display: block;
 /* margin-left: 2.5rem; */
 height: 10px;
 width: 10px;
 /* float: right; */
}



.editorblock{
  background-color: black;
  color: white;
}

.upcomingfeat{
  pointer-events: none;
  color: gray;
}


.constent {

  display: grid;
  grid-template-columns: 1fr 3fr;
}

.editorcontainer h4{
  color: #37352f;
  font-size: 14px;
  opacity: 65%;
}


.featuresdiv button{
  padding: 0;
  border: none;
  background-color: #ffaf8a;
  margin-left: 2.5rem;
}



.userprofile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px;

}

.featurename{
  display: flex;
  align-items: center;
}



.authbuttondiv{
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: -340px;

}



.authbuttonimg{
  display: none;
  margin-right: 5px;
  
}
.authbuttondiv:hover .authbuttonimg{
  display: block;
}

.authbutton{
  
  margin-left: 5px;
}
.constent a:hover{
  text-decoration: underline;
}

/* Main Intro Page */

.nav{
  display: flex;
  height: 200px;
  text-align: right;
  justify-content: space-between;
  
  /* margin-top: 20px; */
}
.navlink{
  border-style: solid;
  /* padding: 5px; */
  height: 20px;
  border-radius: 8px;
  padding: 5px 10px;
  position: relative;
  top: 30px;
  right: 60px;
  
}
.navlink:hover{
  background-color: #141414;
  color: white;

}

.intro{
  text-align: center;
}

.introtitle{
  font-size: 54px;
  font-weight: 800;
}

.introtitle a:hover{
  text-decoration: underline;
}

/* My Journal Page */

.journalcontainer{
  width: 70%;
}
.journaldiv{
  display: flex;
  align-items: center;
  
}
.journallist{
  margin-left: 10px;
}

.everyjournal{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.everyjournal button:hover{
  background-color: #EDECE9;

}

.binimg{
  display: none;
}

.everyjournal:hover .binimg{
  display: block;
  opacity: 50%;
  
}

.everyjournal:hover{
  background-color: #EDECE9;
  /* border-radius: px; */
  
  /* opacity: 50%; */
}