.name{
  text-align: center;
  
}

#title{
  color: grey;
  font-size: 64px;
  /* position: absolute;
  top: 100px;
  left: 50px; */
}
.subhead{
  color: grey;
}
.arrange{
  display: flex;
}

.add{
  border-radius: 50px;
  
}

/* .texted{
   background-color: red;
   width: 50%;
   height: 400px;
} */
/* .mycalendar{
  margin: 20px;
} */

.containermain{
  display: flex;
}





.editorbuttons{
  text-align: center;
}
.editorbuttons button{
  margin-left: 10px;
}

.drawer{
  position: fixed;
  top: 0;
  left: 0;
  
  /* width: 15%; */
  height: 100%;
  background-color: beige;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
/* .container{
  margin: 20px;
} */

.featuresdiv{
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.featuresdiv:hover{
  background-color: #ffaf8a;
  border-radius: 5px;
}

.featureimg{
  margin: 5px;
}

.featurelink{
  font-size: 14px;
}

#addbutton{
  display: none;
  padding-right: 10px;
}

.featuresdiv:hover #addbutton {
 display: block;
 /* margin-left: 2.5rem; */
 height: 10px;
 width: 10px;
 /* float: right; */
}



.editorblock{
  background-color: black;
  color: white;
}

/* .blocked{
  background-color: beige;
  max-width: 550px;
  min-width: 500px;

} */

.constent{
  /* height: 100vh; */
  /* margin: 0; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.editorcontainer h4{
  color: #37352f;
  font-size: 14px;
  opacity: 65%;
}


.featuresdiv button{
  padding: 0;
  border: none;
  background-color: #ffaf8a;
  margin-left: 2.5rem;
}

/* .editorcontainer{
  flex-grow: 1;
  margin-left: 200px; 
  transition: margin-left 0.3s ease-in-out; 
} */

/* .consentopen{
  grid-template-columns: ;
} */


.userprofile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px;

}

.featurename{
  display: flex;
  align-items: center;
}
